<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Framework Execution" parallel="tests" thread-count="2">


	<!--Value for browserUsed can be firfox, chrome, ie, safari, mobileByBrowserStack, mobileByCBT -->
	<!-- <listeners>
	<listener class-name="com.perficient.util.elasticsearch.ElasticListener" />
	</listeners> -->
	<test name="Sample Sign In Web - Google Chrome">
		<parameter name="browserUsed" value="chrome" />
		<parameter name="runningOnGrid" value="false" />
		<parameter name="hubHost" value="0" />
		<parameter name="hubPort" value="0" />
		
		<classes>
			<class name="com.perficient.testCases.SampleSignInWeb" />
		</classes>
	</test>
</suite>   